---
import Card from "../components/Card.astro";
import { FileTerminal, TrendingUp, Handshake } from "lucide-astro";
---

<div class="relative">
  <div class="grid grid-cols-2 items-center justify-between">
    <div
      class="pl-20 nomor"
      data-aos="fade-right"
      data-aos-delay="200"
      data-aos-duration="1000"
    >
      <p class="text-2xl font-medium pl-7">Hi everyone, My name is</p>
      <span class="font-bold text-9xl mb-10">Aditya<br />Putra</span><br />
      <div
        class="mt-10 ml-14 p-4 bg-green-800 inline-block rounded-full hover:-translate-y-2 transition-transform duration-300 cursor-pointer"
      >
        <a href="#about" class="text-white">Who I am?</a>
      </div>
    </div>

    <div
      class="grid grid-rows-2 gap-2 pt-5"
      data-aos="fade-down"
      data-aos-duration="1500"
      data-aos-anchor=".nomor"
    >
      <div class="flex flex-row items-center justify-center gap-4 pr-6">
        <Card
          title="Proficient In Javascript"
          content="Experienced in developing JavaScript-based applications, with a strong grasp of fundamentals and modern frameworks."
        >
          <FileTerminal size="30" />
        </Card>
        <Card
          title="Strategy-Minded"
          content="Strategic thinker with the ability to plan and implement effective and efficient solutions. Makes decisions based on thorough analysis and long-term vision to achieve optimal goals."
        >
          <TrendingUp size="30" />
        </Card>
      </div>
      <div class="mx-20 mt-2">
        <Card
          title="Reliable"
          content="Recognized as a reliable individual in various situations, both in task completion and team collaboration. Consistent and professional, upholding integrity and responsibility in all work endeavors."
        >
          <Handshake />
        </Card>
      </div>
    </div>
  </div>
</div>
